* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('https://static.vecteezy.com/system/resources/previews/001/555/353/non_2x/abstract-black-background-with-halftone-accent-free-vector.jpg') no-repeat;
}
#contenedor {
    max-width: 500px;
    width: 100%;
    margin: 5% auto;
    text-align: center;

}
#conversor {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background: rgb(150, 150, 150);
}
input{
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
button{
    margin-top: 1%;
    font-size: 70%;
    width: 20%;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(94, 94, 94);
}
#conversor img {
    border: 5px solid rgb(182, 182, 182);
    width: 30%;
    margin-bottom: 40px;
    border-radius: 10px;

}
#conversor h2, h1, button{
    margin-bottom: 20px;
}
#conversor h1 {
    font-size: 150%;
}
#conversor h2 {
    font-size: 100%;
}